/* ملف styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  form label, form select, form input[type="submit"] {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  form select, form input[type="submit"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
  }
  
  form input[type="submit"] {
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  form input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #4CAF50;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  